h1 {
  text-align: center;
  margin-bottom: 100px;
}

p {
  color: #A21426;
  position: absolute;
  bottom: -35px;
}

.field-1 > p {
  left: 240px;
}

.field-2 > p {
  left: 240px;
}

.field-4 > p {
  bottom: -55px;
  left: 240px;
}

span {
  color: #A21426;
}

.form-container-fields {
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;
  justify-content: center;
}

.fields {
  width: 500px;
}

.form-field {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 27px;
}

.form-field > input {
  box-sizing: content-box;
  display: flex;
  min-height: 32px;
  border: solid 2px #a3acb9;
  padding-inline: 0.5em;
  border-radius: 5px;
  margin-bottom: 0.2em;
  width: 240px;
  height: auto;
}

.form-field > select {
  box-sizing: content-box;
  display: flex;
  min-height: 32px;
  border: solid 2px #a3acb9;
  padding-inline: 0.5em;
  border-radius: 5px;
  margin-bottom: 0.2em;
  width: 240px;
  height: auto;
}

.field-4 > textarea {
  box-sizing: content-box;
  display: flex;
  min-height: 32px;
  border: solid 2px #a3acb9;
  padding-inline: 0.5em;
  border-radius: 5px;
  margin-bottom: 0.2em;
  width: 240px;
  height: auto;
}

.image {
  width: 50%;
  display: flex;
  min-width: 250px;
  max-width: 700px;
}

.preview {
  display: flex;
  margin: auto;
}

.preview {
  background-color: #eee;
  height: 426px;
  width: 426px;
  border-radius: 5px;
}

.form-container-buttons {
  text-align: center;
 
}

.form-container-buttons > input:first-child {
  margin-right: 20px
}

.form-container-buttons > input:nth-child(2) {
  margin-left: 20px
}

.image input {
  margin: auto
}

.button {
  border-radius: 10px;
  border: none;
  width: 198px;
  height: 54px;
  font-size: 20px;
  color: #fff;
}

.registrar {
  background-color: #072543 ;
  &:hover {
    cursor: pointer;
    background-color: rgb(7, 37, 64, 0.7);
  }
}

.cancelar {
  background-color: #A21426;
  &:hover {
    cursor: pointer;
    background-color: rgb(162, 20, 38, 0.7);
  }
}

.button:hover {
  cursor: pointer;
}

input:focus {
  outline:none
}